.form_pos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form_size {
  width: 400px;
  height: 40px;
}

.form_btn {
  height: 41px;
  width: 80px;
  border: none;
  cursor: pointer;
  background-color: rgb(80, 141, 221);
  color: #ffffff;
  font-size: 16px;
}
